
<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">
                    <div class="card-header">SPA Test</div>

                    <div class="card-body">
                        <h2>{{ welcome }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        name: 'home',
        mounted() {
            this.$router.push('/users') // закомментировать, что бы убрать редирект на /users
        },
        computed: {

            welcome() {
                return this.$store.getters.welcome
            }
        }
    }
</script>