<template>
    <div>
        <div class="btn-wrapper">
            <router-link to="/users/new" class="btn btn-primary btn-sm">New</router-link>
        </div>
        <table class="table">
            <thead>
            <th>Username</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Created</th>
            <th>Actions</th>
            </thead>

            <tbody>
            <template v-if="!users.length">
                <tr>
                    <td colspan="4" class="text-center">No Users</td>
                </tr>
            </template>
            <template v-else>
                <tr v-for="user in users" :key="user.id">
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                    <td>{{user.created}}</td>
                    <td>
                        <router-link :to="`/users/${ user.id }`">View</router-link> / <router-link :to="`/users/${ user.id }/edit`">Edit</router-link>
                    </td>
                </tr>
            </template>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: 'list',
        mounted() {
            this.$store.dispatch('getUsers')
        },
        computed: {
            users() {
                return this.$store.getters.users;
            }
        }
    }
</script>

<style scope>
    .btn-wrapper {
        text-align: right;
        margin-bottom: 20px;
    }
</style>