<template>
    <div class="custumer-new">
        <form @submit.prevent="update">
            <table class="table">
                <tr>
                    <th>Name</th>
                    <td>
                        <input type="text" class="form-control" v-model="user.username"  placeholder="User Name">
                    </td>
                </tr>

                <tr>
                    <th>Email</th>
                    <td>
                        <input type="email" class="form-control" v-model="user.email" placeholder="User Email">
                    </td>
                </tr>

                <tr>
                    <th>First Name</th>
                    <td>
                        <input type="text" class="form-control" v-model="user.first_name" placeholder="First Name">
                    </td>
                </tr>

                <tr>
                    <th>Last Name</th>
                    <td>
                        <input type="text" class="form-control" v-model="user.last_name" placeholder="Last Name">
                    </td>
                </tr>

                <tr>
                    <th>Password</th>
                    <td>
                        <input type="password" class="form-control" v-model="user.password" placeholder="User Password">
                    </td>
                </tr>

                <tr>
                    <td>
                        <a @click="$router.go(-1)" class="btn btn-back">&#8592; Back</a>
                    </td>
                    <td class="text-right">
                        <input type="submit" value="Update" class="btn btn-primary">
                    </td>
                </tr>
            </table>
        </form>
        <div class="errors" v-if="errors">
            <ul>
                <li v-for="(fieldsError, fieldName) in errors" :key="fieldName">
                    <strong>{{fieldName}}</strong> {{fieldsError.join('\n')}}
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    import validate from 'validate.js';

    export default {
        name: 'update',
        created() {
            axios.get(`/api/users/${this.$route.params.id}`)
                .then((response) => {

                    this.user = response.data.user

                })

        },
        data() {
            return {
                user: {
                    username: '',
                    email: '',
                    first_name: '',
                    last_name: '',
                    password: ''
                },
                users: null,
                errors: null
            };
        },
        methods: {
            update() {
                this.errors = null;

                const constraints = this.getConstraints();

                const errors = validate(this.$data.user, constraints)

                if (errors) {
                    this.errors = errors;
                    return;
                }

                axios.post(`/api/users/${this.$route.params.id}`, this.$data.user)
                    .then((response) => {
                        this.$router.push(`/users/${this.$route.params.id}`)
                    })
            },
            getConstraints() {
                return {
                    username: {
                        presence: true,
                        length: {
                            minimum: 3,
                            message: 'Должно быть не менее 3 символов'
                        }
                    },
                    email: {
                        presence: true,
                        email: true
                    },
                    first_name: {
                        presence: true,
                        length: {
                            minimum: 2,
                            message: 'Должно быть не менее 2 символов'
                        }
                    },
                    last_name: {
                        presence: true,
                        length: {
                            minimum: 2,
                            message: 'Должно быть не менее 2 символов'
                        }
                    },
                    password: {
                        presence: true,
                        length: {
                            minimum: 6,
                            message: 'Должно быть не менее 6 символов'
                        }
                    }
                }
            }
        },

        computed: {
            currentUser() {
                return this.$store.getters.currentUser;
            }
        }
    }
</script>

<style scope>
    .btn-back{
        cursor: pointer;
    }
    .errors {
        background: lightcoral;
        border-radius: 5px;
        padding: 20px 0 2px;
    }
</style>

