<template>

    <div class="user-view" v-if="user">

        <div class="user-info">

            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>{{user.id}}</th>
                </tr>

                <tr>
                    <th>Name</th>
                    <th>{{user.username}}</th>
                </tr>

                <tr>
                    <th>Email</th>
                    <th>{{user.email}}</th>
                </tr>

                <tr>
                    <th>First Name</th>
                    <th>{{user.first_name}}</th>
                </tr>

                <tr>
                    <th>Last Name</th>
                    <th>{{user.last_name}}</th>
                </tr>
                <tr>
                    <th>Last Name</th>
                    <th>{{user.last_name}}</th>
                </tr>
                <td>
                    <router-link to="/users" class="btn btn-link">All Users</router-link>
                </td>
                <td class="text-right">
                    <router-link :to="`/users/${user.id}/edit`" class="btn btn-primary">Edit</router-link>

                </td>
            </table>

        </div>
    </div>
    <div class="user-view" v-else>
        No User ID = {{findUser.id}}
    </div>
</template>

<script>
    export default {
        name: 'view',
        created() {
            axios.get(`/api/users/${this.$route.params.id}`)
                .then((response) => {

                    this.user = response.data.user
                })
                .catch((error) => {
                    console.log(error)
                })
        },
        data() {
            return {
                user: null
            }
        },
        computed: {
            currentUser() {
                return this.$store.getters.currentUser;
            },
            findUser() {
                return this.$route.params;
            }
        }
    }
</script>